[Unit]
Description=On Air Sign Controller
After=network.target

[Service]
Type=simple
User=matts
WorkingDirectory=/mnt/data/matts/on-air
ExecStart=/mnt/data/matts/on-air/on-air
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
