<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.onair.sign</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/on-air/on-air</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>/opt/on-air</string>

    <key>StandardOutPath</key>
    <string>/tmp/on-air.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/on-air.err</string>
</dict>
</plist>
